<!DOCTYPE html>
<html>
  <head>
    <title>GithubInterviewSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1 mr-auto">Github Internship Take Home Test</span>
      <ul class="navbar-nav">
        <li class="nav-item">
          <% unless user_signed_in? %>
            <%= link_to "Sign in with Gitub", user_github_omniauth_authorize_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
